.wrapper 
{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-sizing: border-box;
	margin: 150px auto;
	padding: 0;
	max-width: 700px;
  min-width: 280px;
  width: 100%;
  background-color: rgb(255,255,255);
  border-color: rgb(212,212,212);
}

.main {
  padding-top: 4rem;
  margin-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.title {
  margin: 0 0 .5rem;
  text-align: left;
  font-family: "Roboto";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 2.460rem;
  font-style: normal;
}

.footer {
  padding-left: 3rem;
  padding-right: 3rem;
  border-top: 1px solid #ddd;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  background-color: rgb(255,255,255);
}

.video {
  max-width: 100%;
  position: relative;
  border: none;
}

.required-asterisk, .required-message {
  font-family: "Roboto";
  color: rgb(196,59,29);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: normal;
  color: #c43b1d;
}

.required-message {
  margin-top: 5px;
}

.required-asterisk {
  margin-left: 5px;
}

.text {
  border: 1px solid #bbb;
  padding: 0.4em 0.6em;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 95%;
}

a.button {
    color: #444;
}

.button {
	display: inline-block;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	color: #444;
	
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
    text-decoration: none;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	padding: 0 8px;
    margin-top: 15px;
    margin-right: 15px;
}

.button:hover {
	background-color: #F8F8F8;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	
	border: 1px solid #C6C6C6;
	color: #333;
    text-decoration: none;
	
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

.button.disabled {
  color: #aaa;
  pointer-events: none;
}

.button.invisible {
  display:none
}

.button.default:active {
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
	color: black;
}

.button.blue {
	background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);

	border: 1px solid #3079ED;
	color: white;
}

.button.blue:hover {
	border: 1px solid #2F5BB7;
	
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.question {
    margin-top: 10px;
    margin-bottom: 20px;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
